<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Login.TestSuite_3"/>
      <class name="Login.TestSuite_2"/>
      <class name="Login.TestSuite_1"/>
      <class name="Navigation.TestSuite_3"/>
      <class name="Navigation.TestSuite_1"/>
      <class name="Navigation.TestSuite_2"/>
      <class name="AddToCart.TestSuite_1"/>
      <class name="Login.TestSuite_4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
